
.leaveapplication-page  {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 1000px; 
    margin: 50px auto; 
}

.btn-secondary {
    background-color: #baded5;
    color: #333;
    border: none;
}

.btn-primary {
    background-color: #baded5; 
    color: white;
    border: none;
}


