.container {
  padding: 20px;
  max-width: 100%;
  width: auto;
  margin: auto;
}

.leaveapplication-page {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .form-group, .form-check {
    display: block;
    margin-bottom: 10px;
  }

  .form-group label, .form-check label {
    margin-bottom: 5px;
  }

  .form-group input, .form-group select, .form-group textarea {
    width: 100%;
  }

  .leftbar {
    width: 100%; /* Full screen width */
    display: none; /* Not shown by default */
  }

  .leftbar.active {
    display: block; /* Shown when activated */
  }

  .navbar-toggler { /* Add navbar-toggler to control the display of the left column */
    display: block;
  }
}

.footer {
  width: 100%;
  padding: 10px 5px;
}

.body-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #fafafa;
}

.content-with-sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navbar, .footer {
  padding: 10px;
  background-color: #f8f9fa;
  text-align: center;
}

.bg-lightgreen {
  background-color: #4db19b;
}
